  <!-- Right sidebar -->

</div>
<div class="adbar" id="sidebar-right">
  <h4>Advertisement</h4>
  <img class="sidebar-ad mb-3" src="images\ads\rahejarevanta_(c)rahejadev.jpg" alt="">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci similique ipsum obcaecati esse
    autem, quia
    aspernatur dicta ipsam ipsa? Exercitationem id fugit nulla cupiditate quod totam deserunt maxime
    laboriosam
    reprehenderit.</p>
  <img class="sidebar-ad mb-3" src="images\ads\rahejarevanta_(c)rahejadev.jpg" alt="">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci similique ipsum obcaecati esse
    autem, quia
    aspernatur dicta ipsam ipsa? Exercitationem id fugit nulla cupiditate quod totam deserunt maxime
    laboriosam
    reprehenderit.</p>
  <img class="sidebar-ad mb-3" src="images\ads\rahejarevanta_(c)rahejadev.jpg" alt="">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci similique ipsum obcaecati esse
    autem, quia
    aspernatur dicta ipsam ipsa? Exercitationem id fugit nulla cupiditate quod totam deserunt maxime
    laboriosam
    reprehenderit.</p>
</div>
<script src="/js/index.js"></script>
<script src="/js/jquery.repeatable.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
  integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
</script>

</body>

</html>