<%- include("partials/header"); -%>

<section id="home" class="content content-color">
    <h1 class="mb-4 mt-4">Home</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus cupiditate dolore culpa non, voluptatum aut, maiores officiis quos, mollitia quisquam tempore ipsa alias facere. In, sint quas tempora labore consequatur perferendis. Dolorem, ipsum architecto labore, earum corrupti voluptas natus officia quos molestias nesciunt quae dolores perspiciatis libero nobis? Temporibus sit quos assumenda non voluptate molestiae saepe enim, accusamus culpa ipsam maiores. Nulla neque maxime id quisquam. Porro excepturi vero cumque corporis inventore nostrum accusantium tempore harum. Facilis dolorum quia veniam dolorem, repellendus libero deserunt iure, voluptatibus, earum error suscipit? Quasi officia optio repudiandae natus nulla sint quos veritatis ipsum dignissimos.
    </p>
    <p>Salient Features of our Software:</p>
    <ul>
        <li>Available in Online and Offline Version</li>
        <li>Mobile App</li>
        <li>Price Effective</li>
        <li>User Friendly</li>
        <li>Online Support (Call / Remote Desktop)</li>
    </ul>
</section>
<section id="features" class="content content-color-alt">
    <h1 class="mb-4 mt-4">Features</h1>
    <ul>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi nobis molestias cupiditate qui tempora deserunt ab maiores perferendis quo quasi.</li> <br>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, facere.</li> <br>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis minus esse at iste aut, soluta ut ad repellendus tempore sit.</li> <br>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit veritatis omnis voluptatum esse excepturi eaque cumque accusantium animi veniam ad vel voluptas placeat autem eos, pariatur dolorib
            us labore aspernatur saepe quod non, mollitia id consequatur! Reiciendis exercitationem molestias dolorum fuga.</li> <br>


    </ul>

</section>

<section id="pricing" class="content content-color">

    <h1 class="mb-4 mt-4">Pricing</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae, amet. </p>
    <div id="pricing-offer">
        <h4>Hurry Up!</h4>
        <p>Just <strong> 14</strong> spots remaining.</p>
    </div>
    <div class="row">
        <!-- <div class="pricing-col col-lg-4 col-md-6 mb-3">
            <div class="card">

                <div class="card-header">
                    <h3>Early Bird!</h3>
                </div>
                <div class="card-body">
                    <h2>Free*</h2>
                    <p>*For first 50 users only</p>
                    <p>No hidden charges</p>
                    <p>Free means Free</p>

                    <button type="button" class="btn btn-lg btn-block btn-dark">Sign Up</button>
                </div>
            </div>
        </div> -->
        <div class="pricing-col col-lg-6 col-md-12 mb-3">
            <div class="card">
                <div class="card-header">
                    <h2>Basic</h2>
                </div>
                <div class="card-body">
                    <h4>Do it Yourself</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                    <p>Lorem ipsum dolor sit amet consectetur.</p>
                    <button type="button" class="btn btn-lg btn-block" id="btn-sign-up">Sign Up</button>
                </div>
            </div>
        </div>
        <div class="pricing-col col-lg-6 col-md-12 mb-3">
            <div class="card">
                <div class="card-header">
                    <h2>Advance</h2>
                </div>
                <div class="card-body">
                    <h4>Need Service Help</h4>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                    <button type="button" class="btn btn-lg btn-block" id="btn-sign-up">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
    <small>*18% GST extra on all plans.</small>
</section>

<section id="about-us" class="content content-color-alt">
    <h1 class="mb-4 mt-4">About Us</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, at, consequatur perferendis iure fugiat aspernatur facere quos est repellendus labore exercitationem fugit ea, ab officiis eaque. Doloribus iusto dolor odio quibusdam ducimus praesentium, quis cum! Amet unde, at voluptates, reiciendis, error accusantium aliquam velit excepturi distinctio nisi quos dolores pariatur.
    </p>
    <h3>Our Vision</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt aliquid excepturi consectetur sequi beatae iste obcaecati rem nisi minima voluptatum ipsam, vel at numquam vitae repellendus sint soluta maxime. Culpa similique autem voluptatibus ipsa velit, perspiciatis consequatur labore iusto omnis ratione minima tempore quidem illum sequi magni necessitatibus accusamus? Quo animi repellat enim recusandae dolor. Nulla pariatur rem autem similique, cum repellendus praesentium maxime ad et fugit, assumenda quis tempora?
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis quis pariatur porro totam distinctio illum dignissimos laborum nam ipsa consequuntur?</p>

    <h3>Our Team</h3>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque dolorem totam ab mollitia modi tenetur saepe tempora ut in laboriosam amet debitis incidunt, quibusdam beatae minima repellat id facilis blanditiis dicta dolorum esse nam deserunt? Ad magnam totam repellendus distinctio.</p>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit culpa nisi sunt accusantium, eaque officiis reprehenderit unde doloribus, assumenda, natus dignissimos facilis debitis facere saepe quasi molestiae commodi quis ad.</p>
</section>
<br>

<%- include("partials/footer"); -%>